#canvas{
background-image: url("http://media.gettyimages.com/videos/the-world-map-with-matrix-effect-video-id473002641?s=640x640");
}

#canvas::after {
    background-color: #04022d;
    background-image: linear-gradient(135deg, #04022d, #dc4225);
}